.content{
    margin: 20px 0 0 0;
    .conversion-base{
      padding: 10px 10px 5px 10px;
      font-weight: bold;
    }
    
    .conversion-result{
      padding: 10px;
      font-size: 24px;
      font-weight: bold;
      color: #420000;
    }
}
select {
  padding : 10px 20px;
  border-radius:4px ;
  margin-right : 40px;
  margin-bottom: 20px;
}

option{
  border-radius: 2px;
}

button{
  color: black;
  font-size : 16px;
  border: none;
  padding: 11px;
  margin : 0 20px 0 0;
  box-shadow: 1px 2px 3px  #999;

}


