<template>
  <div>
    <Header title="Currency Converter"></Header>

    <div class="content">
      <select v-model="baseCurrency" @change="resetConversionValue()" class="select-css">
        <option v-for="item in baseCurrencyList" v-bind:key="item">{{item}}</option>
      </select>

      <span>
        <select v-model="targetCurrency" @change="resetConversionValue()" class="select-css">
          <option v-for="item in targetCurrencyList" v-bind:key="item">{{item}}</option>
        </select>
      </span>

      <span>
        <button @click="getConversionRateByCurrency()">Convert</button>
      </span>

      <div class="conversion-base">1 {{baseCurrency}}</div>
      <h1 class="arrow">&darr;</h1>
      <div class="conversion-result">{{conversionValue}} {{targetCurrency}}</div>
    </div>
  </div>
</template>

<script>
import "./currency-converter.scss";
import Header from "@/components/header/header";
import * as httpUtils from "../../utilities/http.js";

const headers = {
  "Content-Type": "application/json"
};

const apiUrl = "https://api.exchangeratesapi.io/latest";

export default {
  name: "currencyConverter",
  components: {
    Header
  },
  props: {
    market: String
  },
  data: () => {
    return {
      baseCurrencyList: [],
      targetCurrencyList: [],
      baseCurrency: "EUR",
      targetCurrency: "GBP",
      conversionValue: ""
    };
  },
  created() {
    let vm = this;
    this.getConversionRates();
  },
  methods: {
    async getConversionRates() {
      let vm = this;
      try {
        const data = await httpUtils.httpGet(apiUrl, headers);
        Object.keys(data.rates).forEach(item => {
          vm.baseCurrencyList.push(item);
          vm.targetCurrencyList.push(item);
        });
        vm.baseCurrencyList.push("EUR");
        vm.targetCurrencyList.push("EUR");
        vm.conversionValue = data.rates[vm.targetCurrency];
      } catch (err) {
        window.console.log(err);
      }
    },
    async getConversionRateByCurrency() {
      let vm = this;
      let params = {};
      params.base = vm.baseCurrency;
      params.symbols = vm.targetCurrency;

      const data = await httpUtils.httpGet(
        apiUrl + "?base=" + params.base + "&symbols=" + params.symbols
      );
      vm.conversionValue = data.rates[vm.targetCurrency];
    },

    resetConversionValue() {
      this.conversionValue = 0;
    }
  }
};
</script>
