<template>
  <div class="bar">
      <div class="steps" >
          <ul>
              <li><span class="circle"></span></li>
          </ul>
      </div>
  </div>
</template>
<script>
export default {
  name: "pearlChain",
  data:()=> {
      return{
          steps:[{}]
      }
  }
};
</script>
<style lang="scss" scoped>

.bar {
  border: 5px solid gray;
  height: 0;
  border-radius: 5px;
}

.step{
    border-radius: 50%;
}

ul li .cirle{
    height:1.75em;
    width:1.75em;
    border-radius:50%;
    display: inline-block;
}

</style>