<template>
  <div>
    <Header title="Manual Counter"></Header>
    <h3>Manual Counter {{message}}</h3>
    <div class="block">
      <button @click="increment">Increment</button>
      <span>{{ count }}</span>
    </div>
    <div class="block">
      <button @click="reset">reset</button>
    </div>
  </div>
</template>

<script>

import Header from "@/components/header/header";

var obj = {
  count: 0,
  message: ""
};
export default {
  name: "counter",
   components: {
    Header
  },
  props: {
    msg: String
  },
  data: () => {
    return obj;
  },
  methods: {
    increment() {
      this.count++;
      this.message = this.msg;
    },
    reset() {
      this.count = 0;
    }
  }
};
</script>

<style  lang="scss" scoped>
button{
  color: black;
  font-size : 16px;
  border: none;
  padding: 5px;
  margin : 0 20px 0 0;
  box-shadow: 1px 2px 3px  #999;

}

.block{
  margin: 20px 0 0 20px;
}
</style>