<template>
  <div>
    <Header title="Weather"></Header>
    <div class="page">
    
    <div class="location">
      <p>{{location}}</p>
      <p>{{description}}</p>
      <img v-bind:src= "iconUrl"/>
    </div>

    <div class="details">
      <p>Humidity: {{humidity}} %</p>
      <p>Wind: {{wind}} mph</p>
    </div>

    </div>
  </div>
</template>

<script>
import "./Weather.scss";
import Header from "@/components/header/header";
import * as httpUtils from "../../utilities/http.js";

const CORS = "https://cors-anywhere.herokuapp.com/";
const APIURL = "https://samples.openweathermap.org/data/2.5/weather?q=";
const APPID = "b6907d289e10d714a6e88b30761fae22";


export default {
  name: "Weather",
  components: {
    Header
  },
  data: ()=> {
    return{
      location: 'Amsterdam',
      dateTime: new Date(),
      description: '',
      iconUrl:'',
      precipitation: '',
      humidity: '',
      wind: ''
    }
  },
  async created() {
    let vm = this;
    vm.currentCity = "Amsterdam";
    vm.country = "NL";
    const url = CORS + APIURL + vm.currentCity + "," + vm.country + "&appid=" + APPID;
    try{
      const data = await httpUtils.httpGet(url, {
          "Access-Control-Allow-Origin": "*"
        });
    vm.location = data.name;
    vm.description = data.weather[0].description;
    vm.iconUrl = 'http://openweathermap.org/img/wn/'+ data.weather[0].icon + '@2x.png';
    vm.humidity = data.main.humidity;
    vm.wind = data.wind.speed;
    } catch(err){
      window.console.log(err)
    }
  },
  methods: {
    getWeather() {}
  }
};
</script>
