<template>
  <div >
    <h1>Components page</h1>
    <pearlChain/>
  </div>
</template>

<script>
import pearlChain from "../components/pearl-chain/pearl-chain.vue";
export default {
  name: 'components',
  components:{
pearlChain,
  }
}
</script>

<style lang="scss" scoped>

</style>