<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <MainApp msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import MainApp from '@/components/main.vue';

export default {
  name: 'home',
  components: {
    MainApp,
  },
};
</script>
