<template>
  <div class="dashboard">
    <div class="dashboard__widget">
      <counter msg="has been incremented" />
    </div>
    <div class="dashboard__widget">
      <currencyConverter />
    </div>
    <div class="dashboard__widget">
      <Weather />
    </div>
    <div class="dashboard__widget">
      <Todos />
    </div>
  </div>
</template>

<script>
import counter from "@/components/counter/counter.vue";
import currencyConverter from "@/components/currency-converter/currency-converter.vue";
import Weather from "@/components/Weather/Weather.vue";
import Todos from "@/components/Todo/Todo.vue";

export default {
  name: "Widgets",
  data: () => {
    return {
      test: ""
    };
  },
  components: {
    counter,
    currencyConverter,
    Weather,
    Todos,
  },
  methods: {
    
  }
};
</script>

<style lang="scss" scoped>
$widget_height : 60vh;
$widget_width : 45vw;

.dashboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  

  .dashboard__widget{
    margin-bottom: 30px;
    margin-left: 20px;
    height: $widget_height;
    width: $widget_width;
    background-color: #F6F6F6;
    box-shadow: 0px 1px 10px #999;
    border-bottom-left-radius: 7px ;
    border-bottom-right-radius: 7px ;
    border-bottom: 5px solid rgb(11, 70, 97);
    
    }

}

</style>

