[v-cloak] {
  display: none;
}

.todos {
  ul li {
    list-style: none;
    button.destroy {
      float: right;
      width: 2px;
      height: 2px;
      padding: 0;
      background-color: transparent;
    }
  }

  .view {
    text-align: left;
  }

  .toggle {
    text-align: center;
  }

  .todo-list li {
    &.completed label {
      color: #d9d9d9;
      text-decoration: line-through;
    }
    &.editing {
      border-bottom: none;
      padding: 0;
    }

    &.toggle {
      &:checked label {
        background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
      }
    }
  }

  input.new-todo{
    width: 400px;
    height: 40px;
    padding: 2px 5px;
    font-size: 20px;;
  }
}
