<template>
  <div>
    <Header title="Todos"></Header>
    <section class="todos">
      <header>
        <h1>todos</h1>
        <input
          class="new-todo"
          autofocus
          autocomplete="off"
          placeholder="What do you want to do?"
          v-model="newTodo"
          @keyup.enter="addTodo"
        />
      </header>
      <section class="main" v-show="todos.length" v-cloak>
        <ul class="todo-list">
          <li
            v-for="todo in filteredTodos"
            class="todo"
            :key="todo.id"
            :class="{ completed: todo.completed, editing: todo == editedTodo }"
          >
            <div class="view">
              <input class="toggle" type="checkbox" v-model="todo.completed" />
              <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
              <button class="destroy" @click="removeTodo(todo)"><span class="icon-cancel"></span></button>
            </div>
          </li>
        </ul>
      </section>
    </section>
  </div>
</template>

<script>
import Header from "@/components/header/header.vue";
import './Todo.scss';

let STORAGE_KEY = "todoStorageKey";
const todoStorage = {
  fetch: () => {
    var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]");
    todos.forEach(function(todo, index) {
      todo.id = index;
    });
    todoStorage.uid = todos.length;
    return todos;
  },
  save: todos => {
    localStorage.setItem(STORAGE_KEY, JSON.stringify(todos));
  }
};

const filters = {
  all: todos => {
    return todos;
  },
  active: todos => {
    return todos.filter(function(todo) {
      return !todo.completed;
    });
  },
  completed: todos => {
    return todos.filter(function(todo) {
      return todo.completed;
    });
  }
};

export default {
  name: "Todos",
  components: {
    Header
  },
  data: () => {
    return {
      newTodo: "",
      todos: todoStorage.fetch(),
      editedTodo: null,
      visibility: "all"
    };
  },
  watch: {
    todos: {
      handler: todos => {
        todoStorage.save(todos);
      },
      deep: true
    }
  },
  computed: {
    filteredTodos() {
      return filters[this.visibility](this.todos);
    },
    remaining() {
      return filters.active(this.todos).length;
    }
  },
  methods: {
    addTodo() {
      let value = this.newTodo && this.newTodo.trim();
      if (!value) {
        return;
      }
      this.todos.push({
        id: todoStorage.uid++,
        title: value,
        completed: false
      });
      this.newTodo = "";
    },
    removeTodo(todo) {
      this.todos.splice(this.todos.indexOf(todo), 1);
    },
    editTodo: function(todo) {
      this.beforeEditCache = todo.title;
      this.editedTodo = todo;
    },
    doneEdit: function(todo) {
      if (!this.editedTodo) {
        return;
      }
      this.editedTodo = null;
      todo.title = todo.title.trim();
      if (!todo.title) {
        this.removeTodo(todo);
      }
    },
    cancelEdit: function(todo) {
      this.editedTodo = null;
      todo.title = this.beforeEditCache;
    },
    removeCompleted: function() {
      this.todos = filters.active(this.todos);
    }
  }
};
</script>