.header {
    background-color: rgb(11, 70, 97);
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0px 1px 10px #999;
    ul {
      margin: 0;
      min-height: 50px;
      min-width: 100%;
      display: flex;
      align-items: center;
      padding-left: 0px;
      li {
        list-style: none;
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: bold;
  
        &:first-child{
            padding-left: 15px;
        }
      }
    }
  }