<template>
    <div class="header">
      <nav>
        <ul>
          <li>{{title}}</li>
        </ul>
      </nav>

    </div>
</template>

<script>
import './header.scss';
export default {
  name: 'Header',
  props: {
    title :'',
  }
};
</script>
