<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

    <h2>This project is created to learn unit testing with Jest</h2>
   
  </div>
</template>

<script>
import '../assets/font/style.scss';
export default {
  name: 'MainApp',
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
