@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?9spnj8') format('truetype'),
    url('fonts/icomoon.woff?9spnj8') format('woff'),
    url('fonts/icomoon.svg?9spnj8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_forward:before {
  content: "\e900";
}
.icon-cancel:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-done:before {
  content: "\e903";
}
